@charset "UTF-8";

@font-face {
  font-family: "console";
  src:url("fonts/console.eot");
  src:url("fonts/console.eot?#iefix") format("embedded-opentype"),
    url("fonts/console.woff") format("woff"),
    url("fonts/console.ttf") format("truetype"),
    url("fonts/console.svg#console") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "console" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "console" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\61";
}
.icon-facebook:before {
  content: "\62";
}
.icon-phone:before {
  content: "\63";
}
.icon-mail:before {
  content: "\64";
}
.icon-location:before {
  content: "\65";
}
.icon-whatsapp:before {
  content: "\66";
}
