/*Fuentes: MOgra - Pt Sans*/;

/*-----------------Estilos del header-----------------*/

header {
    width: 100%;
	height: 70px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

header nav {
    height: 70px;
    background: #000;
    display: flex;
    justify-content: space-between
}

.icono {
	font-size: 1.7em; 
    display: none;
}

.enlaces {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 4px 0;
    transition: 0.7s ease-out;
    color: #fff;
    text-decoration: none;
}

.enlaces a:hover,
.active {
	border-top: 1px solid #4B5Cff;
	border-bottom: 1px solid #4B5Cff;
}
nav .logo {
    height: 100%;
    background: transparent;
    margin-left: 20px;
}

nav .logo img {
    object-fit: cover;
    height: inherit;
}

/*-----------------Estilos del banner-----------------*/

.banner {
	margin-top: 0px;
	position: relative;
}
.banner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 1;
	top: 0;
}
.banner_img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.banner_cnt {
	width: 90%;
	color: white;
	text-align: center;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 1,5em;
	font-weight: bold;
}

/*-----------------Estilos del principales-----------------*/

.group--color .container {
	background: #0170A8;
	color: white;
	padding: 10px;
	text-align: center;
}
.main_tit {
	margin: 1535 0;
	font-size: 1.8em;
	font-family: "Mogra", cursive;
	font-weight: 100
}
.main_txt {
	padding: 10px;
}
.column_tit {
	font-size: 1.3em;
}

.main_abt_d .column:nth-child(2) {
	padding: 10px;
}
.btn:hover {
	background: #0B5C84;
}
.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	background: #0170A8;
	color: white;
	padding: 10px;
	margin: 10 auto;
	transition: background .3s linear;
}
.group_tit {
	font-family: "Mogra", cursive;
	text-align: center;
	font-weight: 100;
	font-style: 1.8em;
	margin: 30px;
}
.oferts-spl_lk {
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: black;
}
.oferts-spl .column {
	text-align: center;
	margin-bottom: 30px;
}
.oferts-spl_img {
	margin: auto;
	max-width: 3500px;
}
.oferts-spl_tit {
	font-style: 1.3em;
	padding-top: 10px;
	padding-bottom: 20px;
}
.oferts-spl_pri {
	display: 1.5em;
	color: #0170A8;
	font-weight: bold;
}

/*-----------------Estilos del footer-----------------*/

.main-footer {
	background: #222;
	color: white;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: .8em;
}
.copy {
	text-align: center;
	margin: auto;
	margin-top: 15px;
}
.main-footer [class*="icon-"] {
	color: white;
	text-decoration: none;
}
.main-footer [class*="icon-"]:before {
	position: relative;
	top: 3px;
	right: 5px;
}





