/*--------------------Estilos responsive--------------------*/
/*Estilos 480p*/
@media screen and (min-width: 480px) {

	.logo {
		color: white;
	}

	.main-hci {
		text-align: right;
	}

	.banner {
		margin-top: -165px;
		z-index: -1000;
	}

	.banner_cnt {
		font-size: 2em;
	}

	.banner_img {
		height: 600px;
	}

	.main {
		padding-bottom: 15px;
	}

	.main-nav {
		background: rgba(0,0,0,0.85);
	}

	.main-hci_p {
		background: none;
	}

	.main-hci_a {
		color: white;
	}

	.main_abt_d .column:nth-child(2) {
		padding-left: 20px;
		font-size: .9em;
	}

	.main_abt_d .btn {
		margin: 0;
	}

	.oferts-spl .column {
		border: 3px solid #ddd;
		padding: 3px;
	}
	.oferts-spl_lk:hover .oferts-sl_img {
		transform: scale(1.2);
		transition: width 2s, height 2s, transform 2s;
	}
	.oferts-spl_img {
		height: 200px;
		object-fit: cover;
		transition: width 1s, height 1s, transform 1s;
	}

	.main-footer .container--flex {
		align-items: flex-start;
	}
	.column--50 {
		width: 48%;
	}

	.column--50-25 {
		width: 47%;
	}

	.column--33 {
		width: 33%;
	}
}
/*Estilos 768p*/
@media screen and (min-width: 768px) {
	.main_tit {
		font-style: 2.2em;
	}
	.main_abt_d{
		margin-top: 30px;
	}
	.main_abt_d .column--50:nth-child(2){
		font-style: 1em;
	}
	.main_abt_d .column--50:nth-child(2) .column_txt{
		line-height: 30px;
	}
	.column--50-25 {
		width: 23%;
	}
	.column_tit {
	font-style: 1em;
	}
	.group__title {
		font-style: 2.2em;
	}
	.oferts-spl_lk:hover .oferts-spl_img {
		transform: scale(1.1);
		transition: width 2s, height 2s, transform 2s;
	}
}
/*EStilos en 1024*/
@media screen and (min-width: 1024px) {
	.container {
		width: 1000px;
	}
	.logo{
		font-size: 2em;
		padding: 0;
	}
	.main-hci_p, .main-hci_a {
		padding-right: 0;
		font-size: 1.15em;
	}
	.main_abt_d .column--50:nth-child(2) .column_txt {
		line-height: 50px;
	}
	.main-nav {
		padding: 0;
	}
	.banner_cnt {
		font-size: 1.5em;
	}
	.icon-menu{
		display: none;
	}
	.menu {
		position: static;
		display: flex;
		height: auto;
		width: auto;
	}
	.menu_lk {
		padding: 20px;
	}
	.group--color .container {
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 20px;
	}
	.main_tit {
		font-style: 2.3em;
	}
	.oferts.spl_tit {
		font-size: 1.4em;
	}
	.oferts.spl_pri {
		font-size: 1.8em;
	}
	.main-footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.banner_img {
		height: 700px;
	}
	.oferts-spl_lk:hover .oferts-spl_img {
		transform: scale(1.2);
		transition: width 2s, height 2s, transform 2s;
	}
}
@media screen and (min-width: 1600px) {
	.container {
		width: 1400px;
	}
	.main_abt_d .column:nth-child(1) img {
		width: 100%;
		height: 350px;
		object-fit: cover;
	}
	.oferts-spl_img {
		height: 300px;
	}
	.banner_img {
		height: 800px;
	}
}
