/*--------------------Estilos responsive--------------------*/
/*Estilos 480p*/
@media screen and (min-width: 480px) {

	.logo {
		color: white;
	}

	.main-header__contactInfo {
		text-align: right;
	}

	.banner {
		margin-top: -165px;
		z-index: -1000;
	}

	.banner__content {
		font-size: 2em;
	}

	.banner__img {
		height: 600px;
	}

	.main {
		padding-bottom: 15px;
	}

	.main-nav {
		background: rgba(0,0,0,0.85);
	}

	.main-header__contactInfo__phone {
		background: none;
	}

	.main-header__contactInfo__address {
		color: white;
	}

	.main__about__description .column:nth-child(2) {
		padding-left: 20px;
		font-size: .9em;
	}

	.main__about__description .btn {
		margin: 0;
	}

	.oferts-special .column {
		border: 3px solid #ddd;
		padding: 3px;
	}
	.oferts-special__img {
		height: 200px;
		object-fit: cover;
	}

	.main-footer .container--flex {
		align-items: flex-start;
	}
	.column--50 {
		width: 48%;
	}

	.column--50-25 {
		width: 47%;
	}

	.column--33 {
		width: 33%;
	}
}
/*Estilos 768p*/
@media screen and (min-width: 768px) {
	.main__title {
		font-style: 2.2em;
	}
	.main__about__description{
		margin-top: 30px;
	}
	.main__about__description .column--50:nth-child(2){
		font-style: 1em;
	}
	.main__about__description .column--50:nth-child(2) .column__txt{
		line-height: 30px;
	}
	.column--50-25 {
		width: 23%;
	}
	.column__title {
	font-style: 1em;
	}
	.group__title {
		font-style: 2.2em;
	}
}
/*EStilos en 1024*/
@media screen and (min-width: 1024px) {
	.container {
		width: 1000px;
	}
	.logo{
		font-size: 2em;
		padding: 0;
	}
	.main-header__contactInfo__phone, .main-header__contactInfo__address {
		padding-right: 0;
		font-size: 1.15em;
	}
	.main__about__description .column--50:nth-child(2) .column__txt {
		line-height: 50px;
	}
	.main-nav {
		padding: 0;
	}
	.banner__content {
		font-size: 1.5em;
	}
	.icon-menu{
		display: none;
	}
	.menu {
		position: static;
		display: flex;
		height: auto;
		width: auto;
	}
	.menu__link {
		padding: 20px;
	}
	.group--color .container {
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 20px;
	}
	.main__title {
		font-style: 2.3em;
	}
	.oferts.specia__title {
		font-size: 1.4em;
	}
	.oferts.specia__price {
		font-size: 1.8em;
	}
	.main-footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.banner__img {
		height: 700px;
	}
}
@media screen and (min-width: 1600px) {
	.container {
		width: 1400px;
	}
	.main__about__description .column:nth-child(1) img {
		width: 100%;
		height: 350px;
		object-fit: cover;
	}
	.oferts__special__img {
		height: 300px;
	}
	.banner__img {
		height: 800px;
	}
}
